<style>
  footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
  }
</style>
<footer class="container-fluid bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h4 class="mb-4">Address</h4>
        <p><i class="fas fa-map-marker-alt me-3"></i>Bobaracho, Along Kisii - Keroka Road</p>
        <p><i class="fas fa-phone-alt me-3"></i>0798 754 178</p>
        <p><i class="fas fa-envelope me-3"></i>info@gwasco.co.ke</p>
        <p><i class="fas fa-envelope me-3"></i>P.O Box 3880 – 40200 Kisii.</p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h4 class="mb-4">Our Services</h4>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a class="text-light text-decoration-none" href="/apiv1/water-supply">
              <i class="fas fa-tint me-3"></i> Water Supply
            </a>
          </li>
          <li class="mb-2">
            <a class="text-light text-decoration-none" href="/apiv1/sewerage-services">
              <i class="fas fa-tint me-3"></i> Sewerage Services
            </a>
          </li>
          <li class="mb-2">
            <a class="text-light text-decoration-none" href="/apiv1/exhauster-services">
              <i class="fas fa-truck me-3"></i> Exhauster Services
            </a>
          </li>
          <li class="mb-2">
            <a class="text-light text-decoration-none" href="/apiv1/bowser-services">
              <i class="fas fa-truck me-3"></i> Bowser Services
            </a>
          </li>
          <li class="mb-2">
            <a class="text-light text-decoration-none" href="/apiv1/collapsible-services">
              <i class="fas fa-box me-3"></i> Collapsible Tank
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="m-0 text-center text-body-secondary">Copyright 2023 &copy; <a href="#" class="text-light text-decoration-none border-bottom">GWASCO.</a> All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
