<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exhauster services - GWASCO | Gusii Water & Sanitation Co Ltd </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
      #banner {
        object-fit: fill-box;
        height: 500px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    {% include 'widgets/navbar.html' %}

    <!-- Banner -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="banner" src="/static/plumbing.jpg" class="img-fluid d-block w-100" alt="...">
        </div>
      </div>
    </div>

   <div class="container">
      <div style="height:60px;"></div>
      <h2 class="text-center">Exhauster services</h2>
      <div class="row">
        <div class="col-lg-6">
          <!-- Left side content -->
          <p>
            <strong>Exhauster services</strong><br>
            We acquired two exhausters to help in emptying the septic tanks at affordable rates within Kisii and Nyamira counties and its environs.
            <br><br>
            
          </p>
        </div>
        <div class="col-lg-6">
          <!-- Right side content (image) -->
          <img src="/static/exhauster.jpeg" alt="Service Image" class="img-fluid">
        </div>
      </div>
      <div style="height:60px;"></div>
    </div>


    <!-- Footer -->
    {% include 'widgets/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>